<div class="container pt-5">
    <div class="product">
        <div class="row">
            <div class="col-12">
                <div class="back-to-list">
                    <a class="back-to-list__link" href="#" [routerLink]="['/product', productType]">
                        <img class="back-to-list__icon" src="/assets/images/icons/arrow_left_black.svg" alt="">
                        回列表</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="product-image">
                    <img class="product-image__image" src="/assets/images/test/product.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="product-info">
                    <div class="product-info__text-wrap product-info__text-wrap--name">
                        <h2 class="product-info__name">{{product.name}}</h2>
                    </div>
                    <div class="product-info__text-wrap">
                        <span class="product-info__sub-title">商品編號</span>
                        <h3 class="product-info__text">{{product.id}}</h3>
                    </div>
                    <div class="product-info__text-wrap">
                        <span class="product-info__sub-title">商品分類</span>
                        <h3 class="product-info__text">{{product.type}}</h3>
                    </div>
                    <div class="product-info__text-wrap">
                        <span class="product-info__sub-title">商品價錢</span>
                        <h3 class="product-info__text product-info__text--price">NT${{product.price}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>