// if above ipad width
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #9e9e9e;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: darken(#9e9e9e, 10%);
    }
}
