@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/mixins";

.tab-navbar {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    &__wrap {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: auto;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 100px;
        height: 66px;
        list-style: none;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0;
        white-space: nowrap;
        border: 1px solid $color-secondary;
        background-color: $color-white;
        box-shadow: rgba(98, 86, 90, 0.16) 0 3px 0px;
        overflow: hidden;
    }

    &__item {
    }

    &__link {
        position: relative;
        display: inline-block;
        padding: 20px 15px;
        margin-left: 25.5px;
        margin-right: 25.5px;
        color: $color-black;
        font-weight: $weight-bold;
        text-decoration: none;
        transition: $speed-normal;
        &--first {
            margin-left: 0px;
        }
        &--last {
            margin-right: 0px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 6px;
            border-radius: 6px;
            background-color: transparent;
            transition: $speed-normal;
        }

        &--active {
            color: $color-primary;

            &::before {
                background-color: $color-primary;
            }
        }
    }
}

.tab-navbar-mobile {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    @include media-xl {
        margin-top: 0px;
    }

    > div {
        position: relative;
        width: 100%;
        height: 66px;
        list-style: none;
        margin-bottom: 0;
        white-space: nowrap;
        border: 1px solid $color-secondary;
        background-color: $color-white;
        box-shadow: rgba(98, 86, 90, 0.16) 0 3px 0px;
    }

    &__link {
        display: inline-block;
        width: 100%;
        padding: 20px 40px;
        margin-bottom: 0;
        color: $color-primary;
        font-size: 16px;
        font-weight: $weight-bold;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 15px;
            height: 15px;
            background-image: url("/assets/images/icons/arrow_bottom_pink.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-50%);
        }
    }
}
