// color
$color-primary: #fc3e7e;
$color-secondary: #e3e3e3;
$color-white: #ffffff;
$color-black: #1f1f1f;
$color-black-opacity: rgba(31, 31, 31, 0.05);
$color-overlay: rgba(0, 0, 0, 0.6);

// transition speed
$speed-normal: 0.2s;
$speed-slow: 0.4s;

// font weight
$weight-normal: 400;
$weight-bold: 500;
